<footer class="arcana-footer">
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}
  </div>

  <div class="footer__links">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="footer__payment">
    {% if section.settings.show_payment_icons %}
      {% for type in shop.enabled_payment_types %}
        {{ type | payment_type_svg_tag }}
      {% endfor %}
    {% endif %}
  </div>
</footer>

{% stylesheet %}
  .arcana-footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 2rem;
    padding: 36px 0;
    border-top: 1px solid #ded8f5;
    color: #6c647c;
  }
  .arcana-footer a {
    text-decoration: none;
    color: #140f1f;
  }
  .arcana-footer .footer__links,
  .arcana-footer .footer__payment {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer__payment svg {
    width: 38px;
  }
  @media (max-width: 760px) {
    .arcana-footer {
      flex-direction: column;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
